.header {
  margin-bottom: 70px;
}

.skills {
  line-height: 25px;
  margin-bottom: 50px;
  position: relative;
  width: 650px;

}

.top-container {
  width: 130px;
  position: relative;
  left: 800px;
}

a {
  color: #454545;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 36px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
}

body {
  width: 900px;
  height: 657px;
  background-color: #f4f4f4;
}

h1 {
  font-family: "Helvetica Neue";
  font-size: 75px;
  margin-left: 270px;
}

h2 {
  font-family: "Helvetica Neue";
  left: 360px;
  position: relative;
}

h3 {
  font-family: "Helvetica Neue";
  left: 360px;
  position: relative;
}

hr {
  border: none;
  color: grey;
  height: 1px;
  left: 240px;
  margin-bottom: 50px;
  position: relative;
  top: 5px;
  width: 780px;
}

p {
  font-family: "Helvetica Neue";
  left: 360px;
  line-height: 25px;
  margin-bottom: 50px;
  position: relative;
  width: 650px;
}

progress {
  border: none;
  background: #E1DFE6;
  width: 400px;
}

progress {
  color: #E1DFE6;
}

progress::-webkit-progress-value {
  background: #3F3E40;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

table {
  font-family: "Helvetica Neue";
  left: 360px;
  line-height: 25px;
  position: relative;
}

td {
  width: 200px;
}
