.image {
  background-color: grey;
  position: relative;
  height: 657px;
  width: 600px;
}

.middle-container {
  bottom: 0;
  height: 150px;
  left: 300px;
  position: relative;
  width: 330px;
}

.top-container {
  bottom: 0;
  left: 1160px;
  position: relative;
  top: 10px;
  width: 130px;
}

a {
  color: white;
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 36px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
}

body {
  background-color: #454545;
  margin: 0;
  width: 1168px;
  height: 657px;
}

h1 {
  color: white;
  font-family: "Helvetica Neue";
  font-size: 75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 70px;
}

td {
  height: 10px;
  width: 45px;
  text-align: center;
}
